@font-face {
  font-family: 'dsc_icons';
  src:  url('fonts/dsc_icons.eot?o9xp94');
  src:  url('fonts/dsc_icons.eot?o9xp94#iefix') format('embedded-opentype'),
    url('fonts/dsc_icons.ttf?o9xp94') format('truetype'),
    url('fonts/dsc_icons.woff?o9xp94') format('woff'),
    url('fonts/dsc_icons.svg?o9xp94#dsc_icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

i.dsc-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'dsc_icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-star:before {
  content: "\e905";
}
.icon-ac:before {
  content: "\e90d";
}
.icon-trouble:before {
  content: "\e90e";
}
.icon-armed:before {
  content: "\e90f";
}
.icon-check:before {
  content: "\e910";
}
.icon-thief:before {
  content: "\e90b";
}
.icon-alert:before {
  content: "\e90c";
}
.icon-sleep:before {
  content: "\e90a";
}
.icon-bypass:before {
  content: "\e909";
}
.icon-programming:before {
  content: "\e908";
}
.icon-flame:before {
  content: "\e907";
}
.icon-info:before {
  content: "\e906";
}
.icon-stay_away:before {
  content: "\e904";
}
.icon-stay_empty:before {
  content: "\e903";
}
.icon-bell:before {
  content: "\e900";
}
.icon-refresh:before {
  content: "\e902";
}
.icon-exit:before {
  content: "\e901";
}
